.topo-menu
{
	margin-top: 10px;
}
#iframeView
{
	border: 0;
	width: 100%;
	height: 92%;
}

.colunas-fixas
{
	position: fixed;
	top: 51px;
	height: 100%;
}

.colunas-fixas.coluna1
{
	left: 0;
	background-color: #fff;
    background-image: url("../imagens/logo.png");
    background-position: 10% 90%;
    background-repeat: no-repeat;
    border-right: 2px solid #F8F8F8;
    z-index: 9;
}
.colunas-fixas.coluna2
{
	left: 33.3333%;
	padding: 0;
}
#btnEscondeColuna
{
	float: left;
	margin-left: 5px;
}

.header-relativo
{
	position: relative;
}

.top
{
	margin-top: 30px;
}

.coluna2-full
{
	width: 100%;
	padding: 0;
}

#btnNovoIndice
{
	float: right;
	margin-top: -6px;
	margin-right: -12px;
}

#compressor
{
	width: 100%;
	height: 450px;
}
